/* green from logo #8dc63f */
/* blue from logo #0f75bd */

/* .brand-logo{
  max-height: 10%;
} */

nav {
  background-color: whitesmoke;
  height: 6vh;
}

p {
  line-height: 125%;
  font-size: 1.25rem;
}
h1 {
  font-size: 2.5rem;
}
h2{
  font-size: 2rem;
  margin-bottom: 0px;
}

.nav-wrapper, div#footerDisplay, div.priceRow{
  display:flex;
  justify-content: space-between;
}

nav ul{
  align-self: flex-end;
}

nav ul a, i#hamburgerTrigger.material-icons {
  color: #0f75bd;
}

img#navLogo {
  max-height: 4vh;
  margin-top: 1vh;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer {
  background-color: whitesmoke;
}

ul{
  margin-left: 1.5rem;
  margin-top: 0px;
}

li.pricingLi {
  font-size: 1.5rem;
}

p.footerText{
  font-size: 1rem;
}

.pHeader{
  margin-bottom: 0px;
  font-weight: bold;
}

#heroImage {
  background-image: url("./images/joyce-mccown-IG96K_HiDk0-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#landingWelcomeText{
  font-size: 1.75rem;  
}



#landingCardPanel{
  background-color: rgba(245,245,245, 0.8);
}

#pageLogo {
  max-width: 33%;
  height:auto;
}

@media only screen and (max-width: 600px) {
  nav{
    height: 5vh;
  }
  img#navLogo {
    max-height: 3vh;
    margin-top: 1vh;
  }
  #landingWelcomeText{
    font-size: 1rem;
    line-height: 125%;
  }
}